@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('/font/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/font/KaushanScript-Regular.ttf');
}

body {
    background: #1F1F1F;
}

.header {
    min-height: 200px;
}

.header-brand {
    margin-top: 125px;
    text-align: center;
    user-select: none;
}

.header-brand > span {  
    font-family: Kaushan Script;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 104px;
    
    color: #C70127;
}

.header-brand > img {    
    width: 172px;
    height: 108px;
    border: 0px;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.projects-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.project-item {
    padding: 15px 15px 15px 15px;
    margin: 50px 50px 50px 50px;
    text-decoration: none;
}

.project-item:hover {
    background-color: #2E2E2E;
    border-radius: 15px;
}

.project-item:hover 
.project-logo>img {
    border: 4px solid #C70127;
}

.project-logo > img {
    width: 371px;
    height: 327px;
    border: 4px solid #2E2E2E;
    box-sizing: border-box;
    border-radius: 15px;
    object-fit: cover;
}

.project-name {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
}

.project-description {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #aaaaaa;
}