@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('/font/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/font/KaushanScript-Regular.ttf');
}

body {
    font: normal 75% Nunito Sans, sans-serif;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
}

.home.reveal {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.home hr {
    width: 20%;
    float: left;
    display: block;
    position: absolute;
    border: 2px dashed #696969;
}

.background {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(31, 31, 31);
}

.background > canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.over {
    top: 10%;
    left: 10%;
    position: relative;
    z-index: 1;
}


.title {
    color: yellow;
    padding: 10px 0 10px 15px;
    font-size: 100px;
    font-family: Nunito Sans;
}

.typewrite > .wrap {
    border-right: 0.08em solid yellow;
}

.home {
    color: #d2d2d3;
}

.home-grid > a > .box.link, .home-grid > .box.link {
    text-decoration: none;
    font-weight: 700;
}

.home-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 30px;
}

.home-grid > a {
    text-decoration: none;
}

.home-grid > a > .box, .home-grid > .box {
    background-color: #ffeb3b;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #171717;
    border-radius: 3px;
    text-align: center;
    transition: 0.3s;
}



  /* The typing effect */
.header {
    min-height: 200px;
}

.header-brand {
    margin-top: 125px;
    text-align: center;
    user-select: none;
}

.header-brand > span {  
    font-family: Kaushan Script;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 104px;
    
    color: #C70127;
}

.header-brand > img {    
    width: 172px;
    height: 108px;
    border: 0px;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.projects-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.project-item {
    padding: 15px 15px 15px 15px;
    margin: 50px 50px 50px 50px;
    text-decoration: none;
}

.project-item:hover {
    background-color: #2E2E2E;
    border-radius: 15px;
}

.project-item:hover 
.project-logo>img {
    border: 4px solid #C70127;
}

.project-logo > img {
    width: 371px;
    height: 327px;
    border: 4px solid #2E2E2E;
    box-sizing: border-box;
    border-radius: 15px;
    object-fit: cover;
}

.project-name {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
}

.project-description {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #aaaaaa;
}